@import "tailwindcss";

/*Custom Colors*/
@theme{
  --color-Paynes-Grey:#536878;
  --color-Pearl:#EAE0C8;
}
/*Landng-Page-casual*/

.textsize{
  font-size: 40px;
  /* font-family: 'Playfair Display', serif; */
  /* font-weight: 600; */
  letter-spacing: 0.5px;
}

/*Landing_page_premium*/
.xeon-logo{
    font-size: 20px;
}

.l_css{
    border: 0.2px solid white;
}

@keyframes shimmer {
    0% {
      background-position: -500% 0;
    }
    100% {
      background-position: 500% 0;
    }
  }
  
  .shimmer-gold {
    background: linear-gradient(90deg, #d4af37, #fff5cc, #d4af37);
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: shimmer 8s linear infinite;
  }
