/*LUXE landing page*/
.xeon-logo{
    font-size: 20px;
}

.l_css{
    border: 0.2px solid white;
}

@keyframes shimmer {
    0% {
      background-position: -500% 0;
    }
    100% {
      background-position: 500% 0;
    }
  }
  
  .shimmer-gold {
    background: linear-gradient(90deg, #d4af37, #fff5cc, #d4af37);
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: shimmer 8s linear infinite;
  }

/*LUXE landing page ends*/